@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User) ?? throw new InvalidOperationException("Could not get user.");
    var logins = await UserManager.GetLoginsAsync(user);
    var isMicrosoftAccount = logins.Any(l => l.ProviderDisplayName == "Microsoft");

    var path = Context.Request.Path;

    var isProfileActive = false;
    var isEmailActive = false;
    var isChangePasswordActive = false;
    var isTwoFactorActive = false;
    var isPersonalDataActive = false;

    switch (path.ToString())
    {
        case "/Identity/Account/Manage":
            isProfileActive = true;
            break;
        case "/Identity/Account/Manage/Email":
            isEmailActive = true;
            break;
        case "/Identity/Account/Manage/ChangePassword":
            isChangePasswordActive = true;
            break;
        case "/Identity/Account/Manage/TwoFactorAuthentication":
        case "/Identity/Account/Manage/Disable2fa":
        case "/Identity/Account/Manage/EnableAuthenticator":
        case "/Identity/Account/Manage/GenerateRecoveryCodes":
        case "/Identity/Account/Manage/ResetAuthenticator":
            isTwoFactorActive = true;
            break;
        case "/Identity/Account/Manage/PersonalData":
        case "/Identity/Account/Manage/DeletePersonalData":
            isPersonalDataActive = true;
            break;
    }
}

<div class="tabs">
    <ul class="nav nav-pills flex-column">
        <li class="@(isProfileActive ? "is-active" : "")">
            <a href="/Identity/Account/Manage">Profile</a>
        </li>
        @if (!isMicrosoftAccount)
        {
            <li class="@(isEmailActive ? "is-active" : "")">
                <a href="/Identity/Account/Manage/Email">Email</a>
            </li>
            <li class="@(isChangePasswordActive ? "is-active" : "")">
                <a href="/Identity/Account/Manage/ChangePassword">Password</a>
            </li>
            <li class="@(isTwoFactorActive ? "is-active" : "")">
                <a href="/Identity/Account/Manage/TwoFactorAuthentication">Two-Factor Authentication</a>
            </li>
        }
        <li class="@(isPersonalDataActive ? "is-active" : "")">
            <a class="nav-link" href="/Identity/Account/Manage/PersonalData">Personal data</a>
        </li>
    </ul>
</div>



