@using System.Linq.Expressions

<div class="field">
    <label class="label" for="@Name">@Label</label>
    <InputText class="input" type="@Type" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@For" id="@Name" @attributes="@AdditionalAttributes" />
    <ValidationMessage For="For" class="help is-danger" />
</div>

@code {
    [Parameter]
    public string Label { get; set; } = default!;

    [Parameter]
    public string Name { get; set; } = default!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    public string Value { get; set; } = default!;

    [Parameter]
    public EventCallback<string?> ValueChanged { get; set; } = default!;

    [Parameter]
    public Expression<Func<string>> For { get; set; } = default!;

    [Parameter]
    public string Type { get; set; } = "text";

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
