@inject IJSRuntime JS

<PageTitle>AO Dashboard - @Title</PageTitle>

<div class="container @ExpandsClass">
    <header>
        <h1>@Title</h1>

        @if (ShowSearch)
        {
            <input type="search" placeholder="@SearchPlaceholder" value="@Search" @oninput="@OnSearchChange" />
        }
    </header>
    @if (!IsHome)
    {
        <a role="button" href="/home"><img src="/img/fa/house.svg" alt="" /> Home</a>
    }
    @ChildContent
</div>

@code {
    private IJSObjectReference? module;

    private static event EventHandler? OnOnlineChanged;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public bool Expands { get; set; }

    [Parameter]
    public bool ShowSearch { get; set; }

    [Parameter]
    public bool IsHome { get; set; }

    [Parameter]
    public string? SearchPlaceholder { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> OnSearchChange { get; set; }

    [Parameter]
    public string? Search { get; set; }

    private string ExpandsClass => Expands ? "expands" : "";
}
