@page "/roles/{id}/edit"
@using Dashboard.Client.Services
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

@attribute [Authorize(Policy = "CanEditRoles")]

@rendermode InteractiveAuto

@inject NavigationManager NavigationManager
@inject IRoleService RoleService

<Container Title="User Roles" Expands>
    @if (showError)
    {
        <div class="validation-message">There was an error updating the role.</div>
    }
    <EditForm Model="Input" method="post" OnValidSubmit="UpdateRole" FormName="roleUpdate">
        <DataAnnotationsValidator />
        <h2>Update @roleName</h2>
        <ValidationSummary role="alert" />
        <div class="form-group">
            <label for="email">Vehicle Configuration</label>
            <InputSelect @bind-Value="Input.VehicleConfiguration">
                <option value="@ReadWrite.Deny">Deny</option>
                <option value="@ReadWrite.Read">Read</option>
                <option value="@ReadWrite.Write">Read/Write</option>
            </InputSelect>
            <ValidationMessage For="() => Input.VehicleConfiguration" />
        </div>
        <div class="form-group">
            <label for="email">VOR Data</label>
            <InputSelect @bind-Value="Input.VorData">
                <option value="@ReadWrite.Deny">Deny</option>
                <option value="@ReadWrite.Read">Read</option>
                <option value="@ReadWrite.Write">Read/Write</option>
            </InputSelect>
            <ValidationMessage For="() => Input.VorData" />
        </div>
        <div class="form-group">
            <label for="email">User Role</label>
            <InputSelect @bind-Value="Input.Permissions">
                <option value="@ReadWrite.Deny">Deny</option>
                <option value="@ReadWrite.Read">Read</option>
                <option value="@ReadWrite.Write">Read/Write</option>
            </InputSelect>
            <ValidationMessage For="() => Input.Permissions" />
        </div>
        <div class="btn-container">
            <button type="submit">Save</button>
        </div>
    </EditForm>
</Container>

@code {
    private string roleName = default!;
    private bool showError = false;

    [Parameter]
    public string Id { get; set; } = default!;

    private RolePermissionsUpdate Input { get; set; } = new();

    public async Task UpdateRole()
    {
        if (await RoleService.SetRolePermissions(Id, Input))
        {
            NavigationManager.NavigateTo("/roles");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var input = await RoleService.GetRolePermissions(Id);

        if (input == null)
        {
            NavigationManager.NavigateTo("/roles");
            return;
        }

        Input = new RolePermissionsUpdate { Permissions = input.Permissions, VehicleConfiguration = input.VehicleConfiguration, VorData = input.VorData };
        roleName = input.Name;
    }
}
